body {
    font-family: Roboto;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.lokki-header {
    background-color: #2196f3;
    color: white;
    border-bottom: 6px solid #1976d2;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.lokki-header .logo {
    padding: 20px 0 0 0;
    width: 100px;
}

@media (min-width: 750px) {
    .lokki-header .logo {
        padding: 20px 40px 20px 0;
        width: 250px;
    }

    .lokki-header {
        padding-bottom: 0px;
    }
}

.lokki-header h1 {
    font-size: 50pt;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.lokki-header h2 {
    font-size: 18pt;
    margin-top: 0;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

@media (min-width: 750px) {
    .header-row {
        display: table;
        table-layout: fixed;
    }

    .header-logo-container, .header-text-container {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}
